modules = ["nodejs-20", "web"]

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Dev Server"

[[workflows.workflow]]
name = "Dev Server"
author = 38648921
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd web && npm run dev"

[[ports]]
localPort = 3000
externalPort = 80
